/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-bold-italic.woff2') format('woff2'),
    url('/fonts/geoform-bold-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-extrabold-italic.woff2') format('woff2'),
    url('/fonts/geoform-extrabold-italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-extralight-italic.woff2') format('woff2'),
    url('/fonts/geoform-extralight-italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-heavy.woff2') format('woff2'),
    url('/fonts/geoform-heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-heavy-italic.woff2') format('woff2'),
    url('/fonts/geoform-heavy-italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-italic.woff2') format('woff2'),
    url('/fonts/geoform-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-light.woff2') format('woff2'),
    url('/fonts/geoform-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-light-italic.woff2') format('woff2'),
    url('/fonts/geoform-light-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-medium.woff2') format('woff2'),
    url('/fonts/geoform-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-medium-italic.woff2') format('woff2'),
    url('/fonts/geoform-medium-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-thin.woff2') format('woff2'),
    url('/fonts/geoform-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-thin-italic.woff2') format('woff2'),
    url('/fonts/geoform-thin-italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Geoform';
  src:
    url('/fonts/geoform-regular.woff2') format('woff2'),
    url('/fonts/geoform-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --pink: #ebb7b5;
  --white: #f5f4f2;
  --blue: #b5d2ea;
  --dark-blue: #688196;
  --yellow: #ebee99;
}
body {
  width: 100%;
  margin: auto;
  font-family: 'Geoform', Arial, Helvetica, sans-serif;
  background-color: var(--white);
  color: var(--dark-blue);
}
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
}

h2 {
  font-weight: 800;
  font-size: 25px;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
#app {
  display: flex;
  flex-direction: column;
}

#app_contenu > * {
  padding-right: 20px;
  padding-left: 20px;
}

#app_contenu > .hero {
  padding: 0;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-weight: 800;
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
    font-weight: 700;
  }
  #app_contenu {
    padding: 0;
  }
}
